name: Publish NPM package
on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          package-manager-cache: false
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org/"
          scope: "@nice-devone"
      - name: Publish to NPM
        working-directory: dist
        run: unset NODE_AUTH_TOKEN && npm publish --verbose --provenance --access public
